*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  position: relative;
  height: 100%;
  font-weight: 700;
  font-family: 'Chivo', sans-serif;
}

#app-container {
  height: 100%;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-container {
  position: relative;
  height: 100%;
}

.header {
  position: fixed;
  width: 246px;
  height: 100%;
  padding-left: 30px;
  top: 0;

  &:before {
    content: "";
    position: absolute;
    width: 620px;
    height: 620px;
    border-radius: 50%;
    left: -160px;
    top: -260px;
    opacity: .7;
    z-index: -1;
    background: linear-gradient(40deg, #85FFDB, #62A4FC);
  }
}

.main {
  position: relative;
  margin-left: 246px;
  z-index: 2;
  min-height: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 225px;
    height: 124px;
    background: url('../img/deco_bottom.svg') no-repeat;
    background-size: cover;
    right: 0;
    bottom: 0;
    opacity: .7;
    z-index: -1;
  }
}

.main-menu {
  padding-top: 190px;
  padding-left: 30px;
  // height: calc(100% - 270px);
  height: 100%;
  display: flex;
  position: relative;
  z-index: 3;
  flex-direction: column;
  justify-content: space-between;

  .bottom__item {
    margin-bottom: 50px;
  }
}

.main-menu__item {
  font-size: 1.125rem;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  transition: .3s ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #000;
    transition: .3s ease;
  }

  &::before {
    right: calc(100% + 10px);
    top: 6px;
    width: 20px;
  }

  &::after {
    right: calc(100% + 10px);
    top: 11px;
    width: 10px;
  }

  &:hover {
    &::after {
      right: calc(100% + 20px);
      top: 11px;
      width: 10px;
    }
  }
}

.section-title {
  position: relative;
  padding-top: 20px;
  margin-bottom: 30px;
  width: calc(100vw - 263px);
  overflow-x: hidden;

  h1 {
    position: absolute;
    text-transform: capitalize;
    font-size: 2.25rem;
    padding: 30px 0 18px;
    margin-left: 15px;
    z-index: 2;
  }
}

.backdrop {
  font-size: 4.875rem;
  font-weight: 900;
  text-transform: capitalize;
  color: #4BBAE2;
  margin-left: -4px;
  opacity: .25;
  white-space: nowrap;
  user-select: none;
}

.section-content {
  padding-right: 50px;
}

.movies-list {
  display: flex;
  margin-left: -38px;
  flex-wrap: wrap;

  &__item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 38px;
    flex-basis: calc(25% - 38px);
    margin-bottom: 38px;

    a {
      padding-top: 142%;
      background-size: cover;
      display: block;
    }
  }
}

.movie-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  ;


  h2 {
    padding: 35px 0;
    font-size: 1.125rem;
    text-shadow: #fff
  }
}

.movie-page {
  height: calc(100vh - 143px);
}

.movie-img-wrapper {
  float: left;
  margin-right: 60px;

  figure {
    border-radius: 10px;
    overflow: hidden;
  }

  img {
    max-width: 100vw;
    display: block;
    height: auto;
    width: auto;
    max-height: calc(100vh - 143px);
  }
}

.movie-info {
  // margin-left: 60px;
  padding-top: 40px;
  overflow: hidden;

  li {
    margin-bottom: 20px;
  }

  span {

    vertical-align: top;
  }

  .info-title {
    text-transform: uppercase;
  }

  .info-title-value {
    margin-left: 10px;
    width: calc(100% - 200px);
    display: inline-block;
  }

  ul {
    margin-bottom: 50px;
  }

  &-no-sessions span {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background: #85C2FF;
  }
}

.schedule-page {
  position: relative;
  margin-right: 246px;
}

.session-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.movie-session {
  background: rgba(#E8F0FF, .5);
  min-height: 238px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;

  &.modal-movie {
    background: transparent;
  }

  &__img {
    max-height: 238px;
    flex: 0 0 160px;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
  }

  &__info {
    padding: 20px 30px;

    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 15px;
    }

    span {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__wrap {
    margin-bottom: 10px;
  }
}

.movie-sessions-time {

  p {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 700;
  }

  ul {
    display: flex;
    margin-left: -25px;
    // max-width: 360px;
    flex-wrap: wrap;
  }
}

.session-time-tag {
  background: #85C2FF;
  border-radius: 10px;
  width: 65px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 25px;
  margin-bottom: 15px;
  color: #fff;
  transition: .3s;

  a {
    display: block;
    text-align: center;
    padding: 6px 0;
  }

  &:hover {
    background: rgb(94, 158, 223);
  }
}

.session-filter {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  width: 246px;
  height: 100%;
  padding-top: 140px;
}

.filters-block {

  &__title {
    text-transform: uppercase;
    font-size: 1.125rem;
    margin-bottom: 25px;
  }

  .radio {
    display: block;
    margin-bottom: 15px;
  }

  .radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
  }

  .radio__text {
    position: relative;
    font-size: 1.125rem;
    padding: 0 0 0 28px;
    cursor: pointer;
  }

  .radio__text:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #7C62FC;
    border-radius: 50%;
    background: #FFF;
  }

  .radio__text:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #7C62FC;
    opacity: 0;
    transition: .2s;
  }

  .radio input:checked+.radio__text:after {
    opacity: 1;
  }

  .radio input:focus+.radio__text:before {
    box-shadow: 0 0 0 1px rgba(124, 98, 252, .7);
  }
}

.modal {
  // display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;

  &-content {
    background-color: #fff;
    height: 85vh;
    min-height: 630px;
    position: relative;
    margin: 7.5vh auto;
    padding: 50px;
    border-radius: 10px;
    width: 88vw;
    box-shadow: 0px 0px 15px 0px rgba(#3B5E92, .35);
  }
}

.close {
  position: relative;
  width: 20px;
  height: 20px;

  &--modal {
    position: absolute;
    right: 26px;
    top: 32px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #000;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.modal-content__inner {
  display: flex;
  justify-content: space-between;
}

.modal-col {
  flex-basis: 40%;
}

.modal-movie {
  margin-bottom: 30px;
}


.order-item {
  background: #E8F0FF;
  border-radius: 10px;
  padding: 21px 22px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 20px;
  position: relative;

  &__seat {
    margin-left: 25px;
  }

  &--del {
    position: absolute;
    right: 24px;
    top: 31px;
  }
}

.button {
  border: none;
  font-family: inherit;
  color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 13px 47px;
  text-transform: uppercase;
  font-size: 1.125rem;
  background-size: 200%;
  background-position: right;
  cursor: pointer;
  background-image: linear-gradient(40deg, #7C62FC, #85C2FF, #7C62FC);
  transition: .3s ease;

  &.button-disabled {
    background-image: linear-gradient(0deg, #CDCDCD, #BEBEBE);
  }

  &:not(.button-disabled):hover {
    background-position: left;
  }
}

.screen-container {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    margin-bottom: -18px;
  }

  span {
    display: inline-block;
    text-transform: uppercase;
  }
}

.seats-schema {
  text-align: center;

  .seat-row {
    display: block;
    margin-bottom: 20px;
    margin-left: -5px;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
  }

  .seat {
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 2px solid #7C62FC;
    border-radius: 10px;
    margin-left: 5px;
    transition: .3s ease;
    cursor: pointer;

    &.disabled {
      border: none;
      background: #DCDCDC;
    }

    &:not(.disabled):hover {
      background: #7C62FC;
    }
  }
}